.slide_card {
    font-size: 18px;
    background-color: #FEFBEA;
    padding: 40px 40px;
}

@media (min-width: 1200px) {
    .swiper-wrapper {
        width: auto;
        row-gap: 30px;
    }
}

@media (max-width: 1199.98px) {
    .swiper-wrapper.row {
        --bs-gutter-x: 0;
    }
}