.slide_card {
    font-size: 18px;
    background-color: #FEFBEA;
    padding: 40px 40px;
}
.hover-animation{
    border: 0.5px solid #000;
    transition: box-shadow .3s,transform .3s;
}
.hover-animation:hover {
    box-shadow: 0 0 20px rgba(31, 30, 30, 0.2);
    transform: scale(1.1);
}

@media (min-width: 1200px) {
    .swiper-wrapper {
        width: auto;
        row-gap: 30px;
    }
}

@media (max-width: 1199.98px) {
    .swiper-wrapper.row {
        --bs-gutter-x: 0;
    }
}