.slide_card {
    font-size: 18px;
    background-color: #FEFBEA;
    padding: 40px 40px;
}
.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    grid-gap: 20px 20px;
    justify-content: center;
    align-items: baseline;
}

/*.grid-row .grid-item {
    line-height: 1;
}*/

.grid-row .grid-item {
    font-size: 20px;
    margin-bottom: 1%;
}
.grid-row .grid-item:hover {
    filter: contrast(1);
}

.grid-row .grid-item {
    display: flex;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    flex-direction: column-reverse;
    align-items: stretch;
}